{{#if user}}<!-- User is logged in -->

<h1 class="page-header">Dashboard</h1>
<p>
  Welcome to your dashboard
</p>

{{else}}

<h1 class="page-header">Front Page</h1>
<p>
  Front page content
</p>

{{/if}}
